* {
    font-family: 'Montserrat', sans-serif;
    margin: 0; /*Zerar para configurar do zero, fazer sempre isso. Como é efeito cascata, colocando depois os valores fica no padrão desejado*/
    padding: 0; /*Zerar para configurar do zero, fazer sempre isso. Como é efeito cascata, colocando depois os valores fica no padrão desejado*/
    box-sizing: border-box;
}
header {
    margin: 44px 0 144px 76px;
}
.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #98909C;
    cursor: pointer;
    margin-right: 23px;
}
.button-header {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none; /*Deixa sem borda*/
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;    
}
.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}
section {
    display: inline-block;
    margin-left: 86px;
}
h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}
h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;  
}
p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}
.button-main {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px
    color #000000;   
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, -0, -0, 0.25));
}


@media screen and (max-width: 800px) {
    header {
        display: none;
    }
    p {
        display: none;
    }
    .logo-image {
        width: 354px;
        height: 317px;
        margin: 149px 18px 0 18px;
    }
    h1 {
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        margin: 24px auto 7 auto;
        text-align: center;
    }
    h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        margin: 0 auto 0 auto;
        text-align: center;
    }
    button {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        margin: 17px auto 0 auto;
    }
}


